<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.email %>, </h1>
    <p>
      Thank you for signing up and verifiying your email. Your account is currently being reviewed for approval.<br>
    </p>
  </body>
</html>