<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.email %>, </h1>
    <p>
      A request has been received to change the password for your Xchange account.<br>
    </p>
    <p>
      Click this link to reset your password: <%= @url %>.
    </p>
  </body>
</html>