<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.email %>, </h1>
    <p>
      Congratulations on getting your account approved. You can now start buying and selling stocks<br>
    </p>
  </body>
</html>