<div class="mb-4 lg:mb-0">
    <h3 class="p-2 text-2xl text-gray-800 dark:text-secondary-500">
        Markets Overview
    <h3>
    <div class="p-2 text-gray-400 text-sm">All price information is in <span class="font-bold text-gray-900">USD</span></div>
    <div class="p-2 text-gray-400 text-sm">Data as of <%= format_date(@latest_date) %></div>
    <div class ="grid gap-8 px-4 mb-4 md:grid-cols-2 xl:grid-cols-3 xl:px-0">
        <div class="">
            <div class="px-2 py-1 font-bold text-primary-700">
                <h3>MOST ACTIVE BY LATEST VOLUME</h3>
            </div>
            <div class="px-2 py-1 text-gray-400">
                <%= render "markets_table", stocks: @stocks_active%>
            </div> 
        </div>
        <div class="">
            <div class="px-2 py-1 font-bold text-primary-700">
                <h3>GAINERS</h3>
            </div>
            <div class="px-2 py-1 text-gray-400">
                <%= render "markets_table", stocks: @stocks_gainers%>
            </div> 
        </div>
        <div class="">
            <div class="px-2 py-1 font-bold text-primary-700">
                <h3>DECLINERS</h3>
            </div>
            <div class="px-2 py-1 text-gray-400">
                <%= render "markets_table", stocks: @stocks_decliners%>
            </div> 
        </div>
    </div>
</div>