
<% content_for :aside do %>
    <%= render "admin/sidebar"%> 
<% end %>
    
<% content_for :main_content do %>
    <div class="p-4">
        <div class="mb-4 lg:mb-0">
           <div class="flex justify-between gap-5">
                <h3 class="text-2xl text-primary-700 dark:text-secondary-500">
                    <%= link_to 'Transactions', admin_transactions_path%>
                <h3>
            </div>
        </div>
        <div class="flex flex-col mt-8">
            <div class="overflow-x-auto rounded-lg">
                <div class="inline-block min-w-full align-middle">
                    <div class="overflow-hidden shadow sm:rounded-lg">
                        <%= render "table"%>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>