<div class="flex justify-between gap-5">
    <h3 class="text-2xl text-primary-700 dark:text-secondary-500">
        <%= link_to 'Users', admin_users_path%>
    <h3>
    <%= link_to 'New User', new_admin_user_path, class: "bg-primary-700 text-white rounded-md px-3 py-2 hover:bg-primary-600 dark:bg-secondary-600 dark:hover:bg-secondary-700" %>
</div>